In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('lcc-data.csv', parse_dates=['device_timestamp'], dayfirst=True)

In [21]:
df.head()

,Unique Vehicle Identifier,Latitude,Longitude,Speed_kms,Heading,Device Timestamp,Odometer
0,1541643250673,-27.686224,153.105490,0.29,9,2017-02-28T13:27:30,0
1,1541662065000,-27.691505,153.178209,2.70,190,2017-02-28T18:41:05,0
2,1541644980720,-27.653816,153.139526,0.18,108,2017-02-28T13:56:20,0
3,1541662073000,-27.691412,153.178236,12.38,11,2017-02-28T18:41:13,0
4,1541662133000,-27.686494,153.179139,46.69,4,2017-02-28T18:42:13,0

In [16]:
# remove unnecessary columns
df.drop(df.columns[[5,6,8,9,10,11]], axis=1, inplace=True)

In [17]:
# rename columns
df.rename(columns={'id': 'Unique Vehicle Identifier', 'latitude': 'Latitude', 'longitude': 'Longitude', 'speed_km': 'Speed_kms', 'heading': 'Heading', 'device_timestamp': 'Device Timestamp'}, inplace=True)

In [18]:
# create odometer column
df['Odometer'] = 0

In [20]:
# convert timestamp to include 'T'
df['Device Timestamp'] = df['Device Timestamp'].astype(str).str.replace(' ','T')

In [22]:
# write out
df.to_csv('lcc-clean.csv')