In [1]:
import pandas as pd

In [12]:
df1 = pd.read_csv('MOITSMachinery.csv', parse_dates=[['ActivityDate', 'EventTime']])#, error_bad_lines=False)
df2 = pd.read_csv('MOITSTrucks.csv', parse_dates=[['ActivityDate', 'EventTime']], dayfirst=True)

In [17]:
df1['Device TimeStamp'] = df1['ActivityDate_EventTime'].astype(str).str.replace(' ','T')
df2['Device TimeStamp'] = df2['ActivityDate_EventTime'].astype(str).str.replace(' ','T')

In [18]:
df1.drop(df1.columns[[ 0, 1, 3, 4, 6, 8, 9, 11, 12, 13, 14]], axis=1, inplace=True)
df2.drop(df2.columns[[ 0, 1, 3, 4, 6, 8, 9, 11, 12, 13, 14]], axis=1, inplace=True)

In [19]:
df1.rename(columns={'Speed': 'Speed_Kms', 'TripDistance': 'Odometer', 'HDOP':'Heading', 'Registration': 'Unique Vehicle Identifier'}, inplace=True)
df2.rename(columns={'Speed': 'Speed_Kms', 'TripDistance': 'Odometer', 'HDOP':'Heading', 'Registration': 'Unique Vehicle Identifier'}, inplace=True)

In [20]:
df1[['Speed_Kms', 'Odometer', 'Heading']]=0
df2[['Speed_Kms', 'Odometer', 'Heading']]=0

In [22]:
df1.to_csv('moits-machinery.csv', index=False)
df2.to_csv('moits-trucks.csv', index=False)

In [21]:
df2.head()

,Unique Vehicle Identifier,Speed_Kms,Odometer,Heading,Latitude,Longitude,Device TimeStamp
0,BY26FN,0,0,0,-33.62760,150.81775,2016-10-04T05:06:13
1,BY26FN,0,0,0,-33.62760,150.81777,2016-10-04T05:09:16
2,BY26FN,0,0,0,-33.62768,150.81776,2016-10-04T06:03:56
3,BY26FN,0,0,0,-33.61541,150.82249,2016-10-04T06:13:48
4,BY26FN,0,0,0,-33.63913,150.85084,2016-10-04T06:18:48

In [ ]:
output = df1.append([df2, df3, df4], ignore_index=True)

In [43]:
output.to_csv('goldings.csv', index=False)

In [34]:
output['Odometer'] = 0
output['Heading'] = 0

In [11]:
df1.head()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281801 entries, 0 to 281800
Data columns (total 18 columns):
ActivityDate_EventTime    281801 non-null datetime64[ns]
Vehicle                   281801 non-null object
Registration              281801 non-null object
VehicleGroup              281801 non-null object
EventType                 281801 non-null object
Speed                     3319 non-null float64
SpeedUnit                 281801 non-null object
TripDistance              14410 non-null float64
TripUnit                  281801 non-null object
OnSiteTime                20268 non-null object
HDOP                      0 non-null float64
NumSatellites             0 non-null float64
Driver                    281801 non-null object
Channel                   0 non-null float64
Location                  281801 non-null object
Latitude                  281801 non-null float64
Longitude                 281801 non-null float64
Device TimeStamp          281801 non-null object
dtypes: datetime64[ns](1), float64(7), object(10)
memory usage: 38.7+ MB

In [23]:
output['Device Timestamp'] = output['Device Timestamp'].astype(str)

In [37]:
output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260637 entries, 0 to 1260636
Data columns (total 7 columns):
Device timestamp             1260637 non-null object
Heading                      1260637 non-null int64
Latitude                     1257292 non-null float64
Longitude                    1257292 non-null float64
Odometer                     1260637 non-null int64
Speed_kms                    56325 non-null float64
Unique vehicle identifier    1257292 non-null object
dtypes: float64(3), int64(2), object(2)
memory usage: 67.3+ MB

In [41]:
output = output.rename(columns={'Unique vehicle identifier': 'Unique Vehicle Identifier', 'Device timestamp': 'Device Timestamp'})

In [36]:
output.drop(output.columns[[ 1, 3, 4, 8, 11, 12, 13, 14, 15]], axis=1, inplace=True)

In [11]:
df = pd.read_csv('diesel fuel rebate 2016 SEP.csv', names=['Unique Vehicle Identifier', 'Device Timestamp', 'Latitude', 'Longitude', 'Speed_Kms', 'Heading', 'Odometer'])

In [4]:
df2 = pd.read_csv('diesel fuel rebate OCT 2016.csv', names=['Unique Vehicle Identifier', 'Device Timestamp', 'Latitude', 'Longitude', 'Speed_Kms', 'Heading', 'Odometer'])

In [3]:
df4.head()

,Latitude,Longitude,Speed_kms,Header,Ignition_on,Device timestamp,Unique vehicle identifier,Odometer
0,-21.907040,148.368345,45.06,NaN,NaN,2016-11-01T05:00:06,286WIQ,NaN
1,-21.905526,148.370462,37.01,NaN,NaN,2016-11-01T05:00:35,286WIQ,NaN
2,-21.914556,148.352376,94.95,NaN,NaN,2016-11-01T05:02:02,286WIQ,NaN
3,-21.923345,148.332704,96.56,NaN,NaN,2016-11-01T05:03:27,286WIQ,NaN
4,-21.934352,148.314188,99.78,NaN,NaN,2016-11-01T05:04:51,286WIQ,NaN

In [26]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16311030 entries, 0 to 16311029
Data columns (total 7 columns):
Unique Vehicle Identifier    16311030 non-null object
Device Timestamp             16311030 non-null object
Latitude                     16311030 non-null float64
Longitude                    16311030 non-null float64
Speed_Kms                    0 non-null float64
Heading                      0 non-null float64
Odometer                     0 non-null float64
dtypes: float64(5), object(2)
memory usage: 871.1+ MB

In [8]:
df.rename(columns={'latitude': 'Latitude', 'longitude': 'Longitude'}, inplace=True)

In [13]:
df.head()

,Latitude,Longitude,Speed_Kms,Heading,Odometer,Device Timestamp,Unique Vehicle Identifier
0,-33.827173,150.855133,0.0,71,NaN,2016/10/01 02:18:12+10,4753
1,-34.023580,151.106923,0.0,180,NaN,2016/10/01 02:11:34+10,11874
2,-33.827173,150.855133,0.0,71,NaN,2016/10/01 02:17:28+10,4753
3,-34.548255,150.787480,0.0,285,NaN,2016/10/01 03:15:18+10,15431
4,-33.950755,150.992175,0.0,56,NaN,2016/10/01 00:14:13+10,8979

In [6]:
df.rename(columns={'device_allocation_id': 'Unique Vehicle Identifier', 'device_timestamp': 'Device Timestamp', 'speed_km': 'Speed_Kms', 'heading': 'Heading',}, inplace=True) #'heading': 'Odometer',

In [12]:
df.drop(df.columns[[ 0, 5, 8, 9, 11]], axis=1, inplace=True)

In [16]:
df.tail()

,Unique Vehicle Identifier,Device Timestamp,Latitude,Longitude,Speed_Kms,Heading,Odometer
144688,HITACHI 40T,01/09/2016 4:18:25 PM,-33.915109,151.151094,NaN,North,0.05
144689,HITACHI 40T,01/09/2016 4:19:55 PM,-33.915101,151.151314,NaN,North,0.05
144690,HITACHI 40T,01/09/2016 4:21:24 PM,-33.915106,151.151257,NaN,North,0.05
144691,HITACHI 40T,01/09/2016 4:21:56 PM,-33.915102,151.151253,0.0,North,0.05
144692,HITACHI 40T,01/09/2016 4:21:56 PM,-33.915102,151.151253,NaN,North,0.05

In [20]:
output.to_csv('jjrichards-mar-aug.csv', index=False)

In [10]:
df.rename(columns={'traccar_coordinate_id': 'Odometer'}, inplace=True)

In [6]:
# Convert timedatestamp to include T
df1['Device Timestamp'] = df1['Device Timestamp'].str.replace(' ','T')
df2['Device Timestamp'] = df2['Device Timestamp'].str.replace(' ','T')
df3['Device Timestamp'] = df3['Device Timestamp'].str.replace(' ','T')
df4['Device Timestamp'] = df4['Device Timestamp'].str.replace(' ','T')
df5['Device Timestamp'] = df5['Device Timestamp'].str.replace(' ','T')
df6['Device Timestamp'] = df6['Device Timestamp'].str.replace(' ','T')

In [14]:
df.head()

,Unique Vehicle Identifier,Device Timestamp,Latitude,Longitude,Speed_Kms,Heading,Odometer
0,430,2016-09-01T06:31:05.110,-37.643627,144.997550,NaN,NaN,NaN
1,430,2016-09-01T06:31:28.140,-37.643642,144.997530,NaN,NaN,NaN
2,430,2016-09-01T06:32:09.953,-37.643478,144.997509,NaN,NaN,NaN
3,430,2016-09-01T06:34:12.313,-37.643498,144.997692,NaN,NaN,NaN
4,430,2016-09-01T06:35:09.500,-37.643517,144.997946,NaN,NaN,NaN

In [11]:
output = output_4.append(df6, ignore_index=True)

In [12]:
output.head()

,Unique Vehicle Identifier,Device Timestamp,Latitude,Longitude,Speed_Kms,Heading,Odometer
0,430,2016-03-05T14:24:04.563,-37.637660,144.963406,AppShutdown,NaN,NaN
1,430,2016-03-05T15:13:03.657,-37.637321,144.963545,DialUpGain,NaN,NaN
2,430,2016-03-05T15:29:12.843,-37.637297,144.963593,DialUpLoss,NaN,NaN
3,430,2016-03-05T15:29:13.140,-37.637297,144.963593,DialUpLoss,NaN,NaN
4,430,2016-03-05T15:29:22.423,-37.637293,144.963602,DialUpGain,NaN,NaN

In [13]:
output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6831819 entries, 0 to 6831818
Data columns (total 7 columns):
Unique Vehicle Identifier    object
Device Timestamp             object
Latitude                     float64
Longitude                    float64
Speed_Kms                    object
Heading                      float64
Odometer                     float64
dtypes: float64(4), object(3)
memory usage: 364.9+ MB

In [23]:
output['Unique Vehicle Identifier'].nunique()

159

In [18]:
output['Odometer'] = 0

In [19]:
output.head()

,Unique Vehicle Identifier,Device Timestamp,Latitude,Longitude,Speed_Kms,Heading,Odometer
0,430,2016-03-05T14:24:04.563,-37.637660,144.963406,0,0,0
1,430,2016-03-05T15:13:03.657,-37.637321,144.963545,0,0,0
2,430,2016-03-05T15:29:12.843,-37.637297,144.963593,0,0,0
3,430,2016-03-05T15:29:13.140,-37.637297,144.963593,0,0,0
4,430,2016-03-05T15:29:22.423,-37.637293,144.963602,0,0,0